.title {
    font-weight: bolder;
    font-style: oblique;
    font-size: larger;
    text-align: center;
}

.description {
    font-weight: bold;
    padding: 20px;
}

.employee-container {
    padding: 10px;
    width: 120px;
    height: 120px;
}

.employee {
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
}